body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: rgb(36, 35, 35);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #fff;
    border-right: 0.08em solid #333; /* Cursor */
    white-space: nowrap;
    overflow: hidden; /* Necessário para efeito de texto digitado */
}
.hero-section {
    background-image: url('https://www.convergenciadigital.com.br/media/2023/grafico-aumento.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 150px 20px;
    position: relative;
    overflow: hidden;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content {
    position: relative;
    z-index: 1;
}
.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}
.hero-subtitle {
    font-size: 1.5em;
}
.cta-button {
    font-family: 'Roboto', sans-serif;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    transition: transform 0.2s;
    animation: shadow-pulse 2s infinite;
}
.cta-button:hover {
    transform: scale(1.05);
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    50% {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}
.main-section {
    padding: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.main-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #39FF14;
}

.main-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #39FF14;
}

.themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.theme {
    background-color: #1a1a1a;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    flex: 1 1 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.theme-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #39FF14;
}

.theme-description {
    font-size: 1em;
    color: #ccc;
}

.benefits-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.benefits-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #39FF14;
}

.benefits-card p {
    font-size: 1.1em;
    color: #ccc;
    line-height: 1.6;
}

iframe {
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .main-section h1 {
        font-size: 2em;
    }

    .main-section h2 {
        font-size: 1.2em;
    }

    .theme {
        max-width: 100%;
        flex: 1 1 100%;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}
.course-section {
background-color: #1c1c1c; /* Fundo escuro para contraste */
padding: 60px 20px;
text-align: center;
color: white;
}

.course-section h1,
.course-section h2 {
margin-bottom: 20px;
}

.course-section h1 {
color: #39FF14; /* Neon verde */
font-size: 2.5em;
}

.course-section h2 {
color: #FF1493; /* Rosa fluorescente */
font-size: 1.5em;
margin-bottom: 40px;
}

.topics {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}

.topic {
background-color: #333;
padding: 20px;
border-radius: 8px;
width: 220px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s, box-shadow 0.3s;
cursor: pointer;
color: #fff; /* Texto em branco */
border: 2px solid transparent; /* Bordas para hover */
}

.topic:hover {
transform: translateY(-5px);
box-shadow: 0 8px 16px rgba(57, 255, 20, 0.6);
border: 2px solid #39FF14; /* Neon verde */
}

.topic-title {
font-size: 1.2em;
margin: 10px 0;
color: #39FF14; /* Neon verde */
}

.topic-description {
color: #ddd; /* Texto mais claro */
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Estilo da track (fundo da barra de rolagem) */
::-webkit-scrollbar-track {
    background: #333; /* Cor de fundo da track */
    border-radius: 10px; /* Cantos arredondados */
}

/* Estilo do thumb (parte móvel da barra de rolagem) */
::-webkit-scrollbar-thumb {
    background-color: #39FF14; /* Cor neon verde */
    border-radius: 10px; /* Cantos arredondados */
    border: 2px solid #333; /* Borda para contraste */
    transition: background-color 0.3s, border 0.3s; /* Transição suave */
}

/* Efeito de hover no thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #2b292a7e; /* Cor rosa fluorescente ao passar o mouse */
    border: 2px solid #39FF14; /* Borda neon verde ao passar o mouse */
    transition:1s;
}
.course-complement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 60px 20px;
    background: linear-gradient(to right, white 50%, black 50%);
    color: #333;
}

.course-complement-left,
.course-complement-right {
    flex: 1;
    min-width: 300px; /* Garantir responsividade */
    padding: 20px;
    box-sizing: border-box;
}

.course-complement-left {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tutors-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: auto;
}

.tutor {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center; /* Centraliza o conteúdo */
}

.tutor h3 {
    color: #39FF14; /* Neon verde */
    margin-top: 10px;
}

.tutor p {
    color: #555;
    margin-top: 10px;
}

.tutor img.tutor-image {
    width: 100px; /* Tamanho da imagem */
    height: 100px; /* Manter a proporção */
    border-radius: 50%; /* Imagens redondas */
    object-fit: cover; /* Ajusta a imagem ao espaço */
    margin-bottom: 10px;
}

.tutor:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(57, 255, 20, 0.6);
}

.course-complement-right {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.course-complement-right h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #39FF14; /* Neon verde */
}

.course-complement-right ul {
    list-style: none;
    padding: 0;
    line-height: 1.6;
}

.course-complement-right ul li {
    background-color: #222;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.course-complement-right ul li:hover {
    background-color: #39FF14;
    color: black;
}

.buy-course-section {
    text-align: center;
    padding: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Arial', sans-serif;
}
.buy-course-section h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #39FF14;
}
.buy-course-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.5;
}
.promo-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.promo-details h2 {
    font-size: 2em;
    color: #FF0000;
    margin-bottom: 10px;
}
.promo-details p {
    font-size: 1.1em;
    margin-bottom: 20px;
}
.pricing {
    font-size: 1.8em;
    margin-bottom: 20px;
}
.real-price {
    color: #FF0000;
    margin-right: 10px;
}
.promo-price {
    color: #39FF14;
    font-weight: bold;
}
.payment-options {
    margin-bottom: 30px;
}
.payment-options h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #39FF14;
}
.payment-options ul {
    list-style-type: none;
    padding: 0;
}
.payment-options li {
    font-size: 1.2em;
    margin: 10px 0;
}
.promo-timer {
    margin-bottom: 30px;
}
.promo-timer h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #39FF14;
}
#countdown {
    font-size: 2em;
    font-weight: bold;
    color: #FF0000;
}
.buy-now-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color:#FF0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black;
    font-weight: bold;
}
.buy-now-btn:hover {
    background-color: #32CC12;
}

/*Atendimento*/
body {
    font-family: Arial, sans-serif;
}

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    
}

#chat-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#chat-container {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 400px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Adiciona z-index para garantir que o elemento fique sobre os outros */
}


#chat-header {
    background: #393b3b;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f1f1f1;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    max-width: 80%;
}

.user {
    background: #007bff;
    color: #fff;
    align-self: flex-end;
}

.bot {
    background: #e1e1e1;
    color: #000;
    align-self: flex-start;
}

.typing {
    font-style: italic;
}

#chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background: #393b3b;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-btn {
    background:#5800ff ;
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#send-btn:hover {
    background: #0056b3;
}

#close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.chat-options button {
    display: block;
    margin: 5px 0;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.chat-options button:hover {
    background: #e1e1e1;
}


